body {
	font-family: 'Helvetica Neue','HelveticaNeue',Helvetica,Arial,sans-serif;
	text-align: center;
	padding-top: 10px;
	line-height: 40px;
}

span.green, span.orange {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: transparent url("../assets/sprite.jpg") no-repeat;
}
span.orange {
	background-position: 0 -50px;
}
span.orange.backward {
	background-position: -150px -50px;	
}